<div>
    <div class="top-bar">
        <div class="left-side">
            <img src="./../../assets/logo.png" alt="Logo" class="logo">
        </div>
        <div class="right-side">
            <div class="login-form">
                <input type="text" placeholder="Username" class="text-input" [(ngModel)]="usernameL">
                <input type="password" placeholder="Password" class="text-input" [(ngModel)]="passwordL">
                <a class="forgot-password" style="color: brown; font-size: 15px;">{{loginPorukaGreske}}</a>
                <a (click)="resetPasswordClick()" class="forgot-password">Forgot password? Reset here!</a>
            </div>
            <div>
                <button (click)="login()" class="login-button">Login</button>
                <div>
                    <a (click)="registerClick()" class="forgot-password">Don't have account? Register here!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="registration-container" *ngIf="registerFlag==true">
        <h2 class="registration-header">Register</h2>
        <div class="registration-form">
            <input type="text" placeholder="Username" class="text-input" [(ngModel)]="username">
            <input type="password" placeholder="Password" class="text-input" [(ngModel)]="password">
            <input type="text" placeholder="Security Question" class="text-input" [(ngModel)]="securityQuestion">
            <input type="text" placeholder="Security Answer" class="text-input" [(ngModel)]="securityAnswer">
            <input type="text" placeholder="First Name" class="text-input" [(ngModel)]="firstName">
            <input type="text" placeholder="Last Name" class="text-input" [(ngModel)]="lastName">
            <div class="gender-checkbox">
                <select name="genderr" id="genderr" [(ngModel)]="gender">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <input type="text" placeholder="Address" class="text-input" [(ngModel)]="address">
            <input type="tel" placeholder="Phone Number" class="text-input" [(ngModel)]="phoneNumber">
            <input type="email" placeholder="Email" class="text-input" [(ngModel)]="email">
            <input type="text" placeholder="Card Number" class="text-input" [(ngModel)]="cardNumber">
            <label for="profilePicture">Profile Picture:</label>
            <input type="file" id="profilePicture" (change)="onFileChange($event)" accept="image/jpeg, image/png" required>
  
            <button (click)="registerUser()" class="register-button">Register</button>
            <a class="forgot-password" style="color: brown; font-size: 15px;">{{registerPorukaGreske}}</a>
        </div>
    </div>
    <div class="registration-container" *ngIf="resetPasswordFlag==true">
        <h2 class="registration-header">Reset password</h2>
        <div *ngIf="resetPasswordFlag" class="registration-form">
            <input type="text" placeholder="Username" class="text-input" [(ngModel)]="usernameReset">
            <input type="password" placeholder="Old Password" class="text-input" [(ngModel)]="oldPassword">
            <input type="password" placeholder="New Password" class="text-input" [(ngModel)]="passwordReset1">
            <input type="password" placeholder="New Password Again" class="text-input" [(ngModel)]="passwordReset2">
            <button (click)="resetPassword()" class="register-button">Reset</button>
            <a class="forgot-password" style="color: brown; font-size: 15px;">{{resetPassPorukaGreske}}</a>
`        </div>
    </div>
</div>